extensions = log, txt
username = admin
password = admin
timezone = Asia/Jakarta
page_size = 10
page_sizes = 10, 15, 30, 50, 75, 100

[app]
title = Log Review

[vite]
development = false
host = http://localhost:5133

[directories]
test = /path/to/directories,custom-extensions,separated-by-comma