body {
  padding: 0;
  margin: 0;
}
.row {
  display: flex;
  gap: 20px;
  height: 100vh;
}
.row > .col:last-child {
  flex-grow: 1;
}

.file-list {
  min-width: 250px;
}
.file-list p {
  padding: 10px;
}
.file-content {
  background: #eee;
  padding: 10px;
  word-break: break-all;
  overflow-y: auto;
  max-height: 80vh;
}
.file-control {
  display: flex;
  margin-bottom: 20px;
  padding: 20px;
  border-bottom: solid 1px #777;
}
.file-control [data-action] {
  margin-right: 10px;
}
.file-control label {
  margin-right: auto;
}
.open {
  font-weight: bold;
  color: red;
  text-decoration: none;
}
.deleted {
  font-weight: bold;
  color: red;
  padding: 15px;
  border-radius: 15px;
}